<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/Registration.css" rel="stylesheet">
    <link href="../static/images/images (9).jpeg" rel="icon"> 
    <title>Bhulkee</title>
</head>
<body id="body">
    <div>
        <h1 id="heading" style="font-size: 20px;">Alpha Premium Registeration</h1>
    </div>
    <div>
        <img src="../static/images/images (9).jpeg" id="logo">
    </div>
   <h1 style="font-size: 50px; color: red; text-align: center; margin-top: 10%;">LOCKED</h1>
   <a class="button-form submit" style="background-color: blue; font-size: 20px; color: white; text-decoration: none;" href="./main.html #pricing-section">Back</a>
</body>
</html>