<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/main.css" rel="stylesheet">
    <link href="../static/images/images (9).jpeg" rel="icon"> 
    <title>Bhulkee</title>
</head>
<body id="body">
    <div id="header">
        <div id="logo">
            <h1 id="product-name">Bhulkee</h1>
            <img src="../static/images/images (9).jpeg" id="img-logo1">
        </div>
        <div id="navigation-div">
            <nav id="navigation-section">
                <a class="nav-link" href="#About">About</a>
                <a class="nav-link" href="#footer-">Contact</a>
                <a class="nav-link" href="#pricing-section" id="register">Register</a>
                <a class="nav-link" href="login" id="login">Login</a>
            </nav>
        </div>
        </div>
    </div>
    <div id="walpaper">
        <img src="../static/images/images (10).jpeg" alt="" id="image-walpaper">
    </div>
    <div id="web-content">
        <div class="heading">
            <h1 id="heading">Your Bulk Mailer Onsite</h1>
            <div id="section-1">
                <p class="paragraph" id="paragraph-1" style="margin-top: 6%;">Send email to thousands of your customers in one click, at ease and in the best automated way you could ever imagine. You're one step closer to making your mailing task easier in just one tap, click the button below.</p>
                <img id="image-1" src="../static/images/images (8).jpeg">
            </div>
            <div id="get-started">
                <a href="#pricing-section" class="get-started">Get Started</a>
            </div>
            <div id="pricing-section">
                <h1 id="heading" style="color: rgb(73, 21, 21);">Pricing Plans</h1>
                <div id="section-2">
                    <div class="card" style="background-color: rgb(81, 9, 81);">
                        <h2 class="pricing-tag" style="padding-bottom: 10px; color: rgb(208, 205, 205); border-bottom: 1px solid black;">Enthusiast</h2>
                        <img src="../static/images/images (7).jpeg" class="image-tag">
                        <p class="paragraph" style="color: rgb(201, 199, 199);"> In this plan, you will be able to foward emails to hundred customers once in a month.</p>
                        <p class="paragraph" style="color: white;">Price: free</p>
                        <a class="button-tag" id="button_tag-1" href="./EnthusiastReg" style="background-color: red;">Subscribe</a>
                    </div>
                    <div class="card">
                        <h2 class="pricing-tag" style="padding-bottom: 10px; border-bottom: 1px solid rgb(77, 77, 77);">Alpha Premium</h2>
                        <img src="../static/images/download.jpeg" class="image-tag">
                        <p class="paragraph"> In this plan, you will be able to foward emails to hundred customers everyday.</p>
                        <p class="paragraph">Price: $25 monthly</p>
                        <a class="button-tag" id="button_tag-2" href="./AlphaPremiumReg">Subscribe</a>
                    </div>
                    <div class="card" style="background-color: rgb(255, 196, 85);">
                        <h2 class="pricing-tag" style="padding-bottom: 10px; border-bottom: 1px solid rgb(93, 93, 93);">Beta Premium</h2>
                        <img src="../static/images/images.jpeg" class="image-tag">
                        <p class="paragraph"> In this plan, you will be able to foward emails to one thousand customers everyday.</p>
                        <p class="paragraph">Price: $50 monthly</p>
                        <a class="button-tag" id="button_tag-3" href="./BetaPremiumReg" style="background-color: black; color: white;">Subscribe</a>
                    </div>
                </div>
            </div>
            <div id="pricing-section">
                <h1 id="About" style="color: rgba(115, 4, 130, 0.563); border-bottom: 1px solid rgb(165, 165, 165);">About Me</h1>
                <p class="paragraph" id="About-me"> I am Bhulkee, an automated tool created by my master in order to serve one purpose you're in need of. Am here to make mailing your clients easier in the most efficient way, all you have to do is give me a try and you will bless the day you found me. Just one tap could save you some stress of sending emails to your clients sequencially because I could do that in less than 200 seconds.</p>
                <div id="footer-">
                    <img src="../static/images/images (13).jpeg" id="contact-image">
                    <div id="Contact-details">
                        <h1 id="heading" style="color: rgb(251, 251, 137); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Contact Us</h1>
                        <h2 style="text-align: center; font-size: 30px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: white; margin: 5px;">Manager</h2>
                        <P class="contact-paragraph" style="text-align: center; font-size: 20px;">Nworah Gabriel Chimzuruoke</P>
                        <p class="contact-paragraph">Email -  gabrielnworah6@gmail.com</p>
                        <p class="contact-paragraph">Tel -  +23490 2509 1332</p>
                        <p class="contact-paragraph">Github -  https://github.com/Nworah-Gabriel/</p>
                    </div>
                </div>
                <div class="Footer">
                    <p class="contact-paragraph" style="color: black; text-align: center; margin-top: 15px; margin-bottom: 15px;">@ 2023 Copyright by SAGGIO Technologies</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>